.heading{
    font-family: 'Mirza', serif;
    color: #325300;
    font-size: 4em;
    text-align: left;
    margin-left: 10%;
}
.content-body{
    margin-top: 7%;

}
.body-content{
    margin-top: 7%;

}